# API connection
PORT = 

# Database Configs
DB_HOST = 
DB_USERNAME = 
DB_PASSWORD = 
DB_PORT = 
DB_NAME = 
DIALECT = 
INIT_DB = 

# Mail Configs
FROM_MAIL = admin@gmail.com
MAIL_HOST = smtp.mailtrap.io
MAIL_PORT = 
MAIL_USER = 
MAIL_PASS = 

# Logger Configs
TIME_FORMAT = YYYY-MM-DD
MAX_SIZE = 20m
LOG_LEVEL = info
FILE_NAME = escrow.log
FOLDER_NAME = logfiles
CATEGORY = winston custom format

# JWT Configs
ALGORITHM = ES256
TOKEN_EXPIRES_TIME = 20m

#Blockchain Configs
BSCT_JSON_RPC_URL = https://bsctestapi.terminet.io/rpc
BSC_JSON_RPC_URL = https://bsc-dataseed4.binance.org
CONTRACT_ADDRESS = 0xe7dFE6E02337c2e7B38364c4BD3B2Fa4f222bDa7

# Static Paths
LOGGER_ERROR_PATH = /assets/logfiles/error
LOGGER_COMBINED_PATH = /assets/logfiles/combined
TEMPLATES_PATH = /assets/templates

PASSCODE_LENGTH = 6